.days-week {
    border-bottom: 2px solid rgb(10, 3, 1);
}

.number-days td {
    color: rgb(20, 20, 20) !important;
    cursor: pointer;
}

.number-days .today {
    color: red !important;
    font-weight: bold;
}

.other-months {
    opacity: 0.5 !important;
}

.input-search {
    display: flex;
    margin-bottom: 10px;
}

.input-search select {
    padding: 0 10px;
    width: 200px;
    border: 1px solid #f5ebeb;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #58595B;
    color: white !important;
}
.btn-calendar {
    padding: 10px;
}
.btn-calendar button{
   margin: 2px !important;
}
.number-days .selected-day {
    color: blue !important;
    font-weight: bold;
}
